* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color:azure;
    background: linear-gradient(90deg,rgba(7, 17, 74, 1) 0%, rgba(19, 25, 117, 1) 50%, rgba(119, 140, 237, 1) 100%);


  
  }
  header{
    font-family: Arial, Helvetica, sans-serif;
    color:  white  ;
    padding: 20px 0;
    background: #07114a;
    background: linear-gradient(90deg,rgba(7, 17, 74, 1) 0%, rgba(19, 25, 117, 1) 50%, rgba(119, 140, 237, 1) 100%);
    margin-bottom: 50px;
    margin-top: 25px;
    
  }
  header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
  }
  .lista{
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .lista a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  .lista a:hover{
      color: cornflowerblue;
  }
  h1{
      text-align: center;
  }
  h3{
      text-align: center;
      margin-top: 30px;
  }
  .botões{
      display: flex;
      justify-content: center;
      justify-content: space-around;
      margin-top: 100px;
      margin-bottom: 100px;
  }
  .botões a{
      text-decoration: none;
      color: white;
  }
  .b3 a{
    display: flex;  
    margin-left: 1450px;
    text-decoration: none;
    color: white;
  }
  P{
    text-align: center;
    margin-top: 50px;
  }