* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background-color:white;
    color: #222;
  
  }
  .margin0 {
    margin: 0;
  }
  .marginAuto {
    margin: auto; 
    max-width: 1600px;
  }
  header {
    color:  white  ;
    padding: 20px 0;
    background-color: #222;
    animation: fadeIn 2s ease-in; 
}

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  .menu a:hover {
  color: #9fa2a3;
}
.imagem{
    position: relative;
    margin-bottom: 70px;
    background-color: rgba(255, 255, 255, 0.555);
    padding: 30px;
    flex: 1;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-left: 200px;
    margin-right: 200px;
    animation: glow 2s infinite;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px 2px rgba(149, 235, 235, 0.6);
  }
  50% {
    box-shadow: 0 0 25px 8px rgb(82, 111, 134);
  }
  100% {
    box-shadow: 0 0 10px 2px rgba(105, 104, 104, 0.6);
  }
}
.imagem img{
    height: 400px;
    width: 80%;
    margin-left: 180px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
}
.texto{
    position: absolute;
    bottom: 200px;
    left: 650px;
    color: white;
}
.container_2{
  display: flex;
  justify-content: space-around;
  background-color:white;
  position: relative;
  box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.8);
}
.container_2 img{
  position: relative;
  left: 330px;
  z-index: 10;
}
.container_2 pre{
  position: relative;
  color: #9fa2a3;
  font-size: xx-large;
  right: 530px;
  top: 410px;
  z-index: 1;
  max-height: 220px;
}
.one{
  position: absolute;
  left: 220px;
  margin-top: 240px; 
  font-size: xx-large;
}
.escrito{
  font-size: small;
  color: #222;
  position: relative;
  left: 170px;
  margin-top: 350px;
  max-width: 200px;
  opacity: 0.8;
}
.escrito_2{
  font-size: small;
  color: #222;
  position: relative;
  left: 470px;
  margin-top: 350px;
  max-width: 200px;
  opacity: 0.8;

}
.two{
  position: absolute;
  right: 220px;
  margin-top: 240px;
  font-size: xx-large;
}
.botao{
  background-color: #222;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 100px;
  display: flex;
  margin: auto;
  margin-top: 110px;
}
.p{
  padding: 10px 0;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 4px;
  transition: transform 0.3s;
}
.p:hover{
  transition: translateY(-5px);
}
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 40px 0;
  margin-top: 110px;
}

