body {
  background-color: #dddddd;
  margin: 0;
  font-family: Arial, sans-serif;
}


.container {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}

.left {
    width: 50%;
}

.right {
    width: 45%;
    margin-top: 50px;
}
.form-box {
    background-color: #0093AD;
    color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

textarea {
    width: 100%;
    height: 250px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    font-size: 20px;
    border: none;
}