* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  body {
    line-height: 1.6;
    color:azure;
    background: linear-gradient(90deg,rgba(26, 47, 51, 1) 0%, rgba(29, 80, 88, 1) 50%, rgba(0, 147, 173, 1) 100%);
     }
  main{
    margin-top: 50px;
  }
  .marginAuto {
    margin: auto; 
    max-width: 1600px;
  }
  header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  white  ;
    padding: 20px 0;
    background: linear-gradient(90deg,rgba(26, 47, 51, 1) 0%, rgba(29, 80, 88, 1) 50%, rgba(0, 147, 173, 1) 100%);  
    margin-top: 15px; 
  }
  header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  hr {
  height: 4px; 
  background: #0093AD;
  border: none;
  margin-top: 25px; 
  opacity: 100%;
}
  .lista{
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .lista a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  .lista a:hover{
      color: cornflowerblue;
  }
  main h1{
      text-align: center;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 80px;
  }
  h3{
      text-align: center;
      margin-top: 50px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 50px;
  }
  .botões{
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 100px;
      margin-left: 200px;
      margin-right: 200px;
  }
  .botões a{
      text-decoration: none;
      color: white;
  }
  .b1 button{
  background-color: #222;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 190px;
  margin-top: 110px;
  padding: 30px;
  transition-duration: 0.5s;
  }
  .b2 button{
  background: linear-gradient(90deg,rgba(26, 47, 51, 1) 0%, rgba(29, 80, 88, 1) 50%, rgba(0, 147, 173, 1) 100%);
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 150px;
  margin-top: 110px;
  padding: 20px;
  transition-duration: 0.5s;
  border: none;
  
  }
  .b3 button {
  background-color: #222;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 150px;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 1450px;
  transition-duration: 0.5s;
  }
  
  button:hover {
  background: white;
  color: #222;
}
footer{
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 110px;
}
