body {
  background-color: #dddddd;
  margin: 0;
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}

.left {
  width: 50%;
}

.left .sub {
  margin-bottom: -5px;
  color: #0089ad;
}

.desc {
  color: #555;
  max-width: 380px;
}


.card {
  background-color: #0093AD;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 30px;
  margin-top: 20px;
  max-width: 350px;
}

.card{
  max-width: 350px;
}

.right {
  width: 45%;
  margin-top: 200px;
}

.form-box {
  background-color: #0093AD;
  color: white;
  padding: 40px ;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}
label{
    color: black;
}
.a{
    color: black;
}

.form-box input,
.form-box textarea {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
}

.form-box a {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  background-color: #007A97;
  color: white;
  border: none;
  transition: 1s;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 1020px){
  .right p{
    max-width:150px;
    font-size: 20px;
  }
  .card p{
    max-width:150px;
    font-size: 20px;
  }
  .card a{
    max-width:150px;
    font-size: 20px;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  .btn{
    font-size: 10px;
  }
}